@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.sort_bg {
  background: #004dda !important;
  color: white !important;
}
.sort_bg .sort_p_title {
  color: white !important;
}
.product_card {
  position: relative;
  box-shadow: none !important;
}
.product_card:hover {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.product_card_img {
  height: 300px;
  object-fit: fill;
  box-shadow: none;
}

.card_hover_icon {
  position: absolute;
  right: 5%;
  top: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.card_hover_icon span {
  background: white;
  padding: 4px;
  opacity: 0;
}
.product_card:hover > .card_hover_icon span {
  opacity: 1;
  transition: 0.6s linear;
}
.status {
  background: #f33;
  width: 50px;
  display: flex;
  align-items: start;
  color: white;
  font-size: 14px;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 20px;
}
.status::before {
  border-style: solid solid solid none;
  border-width: 9px 9px 9px 0;
  bottom: -15px;
  content: "";
  left: 0;
  position: absolute;
  width: 9px;
}
.status.off:before {
  border-color: #f33 transparent transparent;
}
.main_body_container {
  position: relative;
  z-index: 1111;
  background: white;
  margin-bottom: 400px;
}

/* footer  style */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .product_card_img {
    height: 200px;
  }
  .main_body_container {
    margin-bottom: 750px;
  }
  .card_hover_icon {
    top: 30px;
  }
  /* .status {
    top: 30px;
  } */
}

.search_input {
  height: 40px;
  background: #f2f2f2;
  outline: none !important;
}
.ac_input_filter{
  height: 30px;
}
.ac_input_filter span{
  font-size: 14px !important;
  color: #111;
}
